@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my first web forum!</h1>
    <p>
        This is an application made by me using ASP.NET Core MVC.
        The main goal for the creation of this application is to practice CRUD operations using EntityFramework and SQLServer.
    </p>
</div>
